<!DOCTYPE html>
<html lang="en"></html>
{% load static %} 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block title %}
    <title>template page</title>{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>

<body>

    {% block navbar %}
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand">LOCHNER</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href=" {% url 'job-queue' %}">Job List</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-item nav-link" href=" {% url 'queue-my-jobs' %}">My Requests</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href=" {% url 'request-add' %}">New Request</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav justify-content-end">
                        {% if user.is_authenticated %}
                            <li>
                                <span class="navbar-text"> Hello <b> {{ user.get_username }} </b></span>  <!-- set style bold in CSS -->
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-item nav-link" href=" {% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-item nav-link" href=" {% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>    
    {% endblock %}


    <div class="container">

        <div class="jumbotron">

            {% block header %}{% endblock %} 
            {% block content %}{% endblock %}
            {% block pagination %} 
                {% if is_paginated%}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
            </div>
                {% endif %}
            {% endblock %}
            
            {% block footer %}{% endblock %}


            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        </div>
    </div>
</body>

</html>